

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Helvetica";
}

img {
  max-width: 100%;
}

@import "header";
@import "main-content";
@import "dealer";
@import "footer";

//global styles

body {
	padding: 0px;
	margin: 0px;
	color:  rgb(66, 70, 75);


}
