

// dealer.scss
$subaru-blue: rgb(60, 96, 163);
.all-dealers-text {
	color: black;
}
.dealer-detail {
	border-top: 1px solid black;
	margin: 15px 0px 0px 2px;

	.dealer-map {
		margin-top: 25px;
		margin-left: 8px;
		display: inline-block;
	}
	.contact-details {
		display: inline-block;
		margin-left: 5px;
	}
	.listing-number {
		position: relative;
		top: -130px;
	}
	.address {
		display: inline-block;
		margin-top: 10px;

		.dealer-name {
			margin: 0px;
			margin-bottom: 38px;
			font-weight: normal;
			position: relative;
			bottom: -6px;
		}
		.dealer-address {
			margin-top: 0px;
		}
		.phone-number {
			font-weight: normal;
			margin-top: 0px;
		}
	}

}
.dealer-select-btn {
	margin-left: 430px;
	color: white;
	background-color: rgb(62, 99, 161);
		border-radius: 3px;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	border: 1px solid black;
}

.review-container {
	margin-left: 235px;
	//margin-bottom: 15px;


	.review-heading {
		margin: 0px;
		font-weight: normal;
	}
	.review-link {
		margin-left: 620px;


		text-decoration: none;
		color: black;
		&:hover {
			color: $subaru-blue;
		}
	}
}

#last-review-container {
	padding-bottom: 25px;
}
