//colors
$header-white: rgb(254, 255, 255);
$subaru-blue: rgb(60, 96, 163);
$subaru-black: rgb(66, 70, 75);

.header-container {
  max-width: 100%;
  background-color: $header-white;
  border-bottom: 2px solid black;

	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);

}

.wrapper-head {
	margin-left: 25px;
}


.welcome-banner {

	color: $subaru-blue;
	font-size: 11px;
}

.main-nav {

	color: $subaru-black;

	.child-nav {
		display: inline-block;

		span {
			border-top: 1.5px solid black;
			margin: 5px;
			padding: 5px;

			font-style: italic;

			a {
				text-decoration: none;
			}

		}
	}

}
.social-nav{
	.nav-left{
		display: inline-block;
	}
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
		padding: 3px;
		margin: 5px;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
	}
}

.nav-right {
	float: right;
	display: inline-block;
	list-style: none;
}
