
$subaru-gray: rgb(69, 70, 71);

.main {
	background-color: $subaru-gray;

}

.main-content {
	max-width: 95%;
	margin: 0 auto;
}



.car-banner {
	display: block;
	width: 100%;

	margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;

}
.breadcrumbs {
	margin: 0px;
	background-color: rgb(176, 177, 178);
	//width: 95%;
	margin-left: auto;
  margin-right: auto;

	p {
		display: inline-block;
		margin: 0px;
		padding: 0px 20px 0px 20px;
	}
}

.content {
	background-color: rgb(254, 255, 255);
}

.dealer-select {
	width: 95%;
	margin: 0 auto;
	.dealer-text {
		display: inline-block;
		margin: 10px 10px 10px 20px;
		color: white;


	}
}

.dealer-banner {
	background-color: rgb(29, 75, 131);



}

.dealer-search {
	background-color: rgb(236, 237, 238);
	padding: 30px;


	.zip-search {
		margin-left: auto;
		margin-right: auto;
	}
}

.dealer-listing {

	max-width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	h3 {
		display: inline-block;
	}
}
