
$subaru-gray: rgb(69, 70, 71);

.main {
	background-color: rgb(49, 50, 51);

}

.main-content {
	max-width: 95%;
	margin: 0 auto;
}



.car-banner {
	display: block;
	width: 100%;

	margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;

}
.breadcrumbs {
	margin: 0px;

	background-color: rgb(176, 177, 178);
	//width: 95%;
	margin-left: auto;
  margin-right: auto;

	p {
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		margin: 5px;
		margin-left: 12px;
		padding: 0px 20px 0px 20px;
	}
}

.content {
	background-color: rgb(254, 255, 255);
}

.dealer-select {
	width: 95%;
	margin: 0 auto;
	.dealer-text {
		font-size: 25px;
		display: inline-block;
		margin: 10px 10px 10px 20px;
		color: white;


	}
}

.dealer-banner {
	background-color: rgb(29, 75, 131);



}

.dealer-search {
	background-color: rgb(236, 237, 238);
	padding: 30px;
	max-width: 100%;
	display: block;

}

	.zip-search {
		margin-left: 25%;

		color: black;
		.zip-label {
			font-size: 18px;
			font-weight: bold;
		}
		input {
			width: 200px;
			height: 40px;
			margin-left: 5px;
			position: relative;
			up: -12px;

		}

		button {
			color: white;
			font-size: 15px;
			font-weight: bold;
			background-color: rgb(62, 99, 161);
			border: 0.5px solid black;
			height: 38px;
			width: 40px;
			position: relative;
			left: -4px;

		}

}


.dealer-listing {

	max-width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	h3 {
		display: inline-block;
	}
}
